<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Righteous&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/text.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/static.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/navbar.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/peopleStats.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/radarChart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/contributionOverTimeChart.js') }}"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <title>Glorious Geese</title>
</head>

<body id="fellowship-wide">
    <script>
        body = d3.select("body#fellowship-wide")
            .style("background-color", colors.white)
            .style("padding", "20px 24px 20px 24px")
        renderNavbar(body)

        body = body.append("div")
            .style("padding", "0 10% 0 10%")
        const loadData = async() => {
            let globalData = await await fetch(`https://fellowship-class-profile.herokuapp.com/global_stats`)
            globalData = await globalData.json()
            console.log(globalData)

            let imageAttr = {
                height: 300,
                width: 300
            }

            body.append("div")
                .style("margin-top", "300px")
                .append("svg")
                .attr("height", imageAttr.height)
                .attr("width", imageAttr.width)
                .append("image")
                .attr("href", "../static/icons/undraw_design_team_af2y.svg")
                .attr("height", imageAttr.height)
                .attr("width", imageAttr.width)
                .attr("x", 0)
                .attr("y", 0)

            body.append("div")
                .attr("class", "header")
                .style("color", colors.black)
                .html("Statistics for Class 0.")

            renderPeopleStats(body, globalData)
            renderGlobalContributionOverTimeChart(body, globalData)

            body.append("div")
                .attr("class", "subheader")
                .style("color", colors.black)
                .html("Global Contributions")
            body.append("div")
                .attr("class", "caption")
                .style("color", colors.black)
                .html("This is how our contributions were distributed.")
            let div = body.append("div")
                .style("display", "flex")
                .style("align-items", "center")
                .style("justify-content", "center")
                .style("width", "100%")
                .style("padding", "10px 0px 10px 0px")

            ////////start of spider chart///////////////
            var margin = {
                    top: 30,
                    right: 80,
                    bottom: 20,
                    left: 80
                },
                width = Math.min(700, window.innerWidth / 4) - margin.left - margin.right,
                height = Math.min(width, window.innerHeight - margin.top - margin.bottom);

            var chart_data = [{
                name: 'Code contribution stats',
                axes: [{
                    axis: 'Code Reviews',
                    value: Math.log(globalData["num_code_reviews"])
                }, {
                    axis: 'Commits',
                    value: Math.log(globalData["num_commits"])
                }, {
                    axis: 'Pull Requests',
                    value: Math.log(globalData["num_prs"])
                }, {
                    axis: 'Issues Opened',
                    value: Math.log(globalData["num_issues_opened"])
                }, {
                    axis: 'Issues Contributed To',
                    value: Math.log(globalData["num_issues_contributed"])
                }, ],
                color: '#26AF32'
            }, ];

            console.log(chart_data[0].color);

            var radarChartOptions = {
                w: 390,
                h: 450,
                margin: margin,
                levels: 5,
                roundStrokes: true,
                color: d3.scaleOrdinal().range([colors.blue]),
                format: '.0f',
                unit: 'e^'
            };

            // Draw the radar chart
            RadarChart(body, chart_data, radarChartOptions);
        }
        loadData()
    </script>
</body>

</html>