<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Righteous&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/text.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/static.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/navbar.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/peopleStats.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/radarChart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/contributionOverTimeChart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/repoContribution.js') }}"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
    <title>Glorious Geese</title>
</head>

<style>
    html,
    body,
    #cloud-container {
        width: "100%";
        height: "500px";
        align-items: center;
        justify-content: center;
    }
</style>

<body id="fellowship-wide">
    <script>
        body = d3.select("body#fellowship-wide")
            .style("background-color", colors.white)
            .style("padding", "20px 24px 20px 24px")
        renderNavbar(body)

        body = body.append("div")
            .style("padding", "0 10% 0 10%")
        const loadData = async() => {
            let globalData = await fetch(`https://fellowship-class-profile.herokuapp.com/global_stats`)
            globalData = await globalData.json()
            console.log(globalData)

            let imageAttr = {
                height: 300,
                width: 300
            }

            body.append("div")
                .style("margin-top", "200px")
                .append("svg")
                .attr("height", imageAttr.height)
                .attr("width", imageAttr.width)
                .append("image")
                .attr("href", "../static/icons/undraw_design_team_af2y.svg")
                .attr("height", imageAttr.height)
                .attr("width", imageAttr.width)
                .attr("x", 0)
                .attr("y", 0)

            body.append("div")
                .attr("class", "header")
                .style("color", colors.black)
                .html("Statistics for Class 0.")

            renderPeopleStats(body, globalData)
            renderGlobalContributionOverTimeChart(body, globalData)
            renderSpiderChart(body, globalData)
            renderRepoContributions(body, globalData)

            /////header for word cloud//////
            body.append("div")
                .attr("class", "subheader")
                .style("color", colors.black)
                .html("Repositories")
            body.append("div")
                .attr("class", "caption")
                .style("color", colors.black)
                .html("These are the languages of the repos we contributed to.")

        }
        loadData()
    </script>
    <script>
        anychart.onDocumentReady(function() {
            let display_data = []
            let org_statistics = fetch("https://fellowship-class-profile.herokuapp.com/global_stats")
                .then(response => response.json())
                .then(json_response => json_response["repo_lang_stats"])
                .then(data => generate_word_cloud(data))

            function generate_word_cloud(org_stats) {
                console.log(org_stats)

                for (let key in org_stats) {
                    if (key === "TOTAL NUMBER REPOS" || key === "None") {
                        continue;
                    }

                    let val = org_stats[key];
                    display_data.push({
                        "x": `${key}`,
                        "value": `${val}`,
                        category: `${key}`
                    })
                }

                let chart = anychart.tagCloud(display_data);
                chart.angles([0])
                chart.colorRange(true);
                chart.colorRange().length('80%');
                chart.container("cloud-container");
                chart.background().fill(colors.white);
                chart.draw();
                chart.height("100%");
                chart.width("100%");
            }
        });
    </script>
    <div id="cloud-container" style="margin: 0 auto;"> </div>
</body>