<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Righteous&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/text.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/static.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/navbar.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/personal.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/donutChart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/contributionOverTimeChart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/teamCircle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/highlights.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/collaborators.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/contributionOverRepo.js') }}"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <title>Glorious Geese</title>
</head>

<body id="personal-stats">
    <script>
        body = d3.select("body#personal-stats")
            .style("background-color", colors.white)
            .style("padding", "20px 24px 20px 24px")
        renderNavbar(body)
        body = body.append("div")
            .style("padding", "0 10% 0 10%")

        const loadData = async() => {
            let teamData = await d3.json("{{ url_for('static',filename='dummy_data/group_members_by_teams.json') }}")
            let data = await fetch(`https://fellowship-class-profile.herokuapp.com/user_stats?username={{username}}`)
            data = await data.json()

            // Fix data.
            data["num_contributions"] = data["num_commits"] // NOTE: num_commits in data is actually num_contributions
            data["num_commits"] = data["num_contributions"] - data["num_code_reviews"] - data["num_prs"] - data["num_issues_opened"]

            console.log(data)

            let personalStatImageAttr = {
                height: 300,
                width: 300
            }

            body.append("div")
                .style("margin-top", "200px")
                .append("svg")
                .attr("height", personalStatImageAttr.height)
                .attr("width", personalStatImageAttr.width)
                .append("image")
                .attr("href", "../static/icons/undraw_researching_22gp.svg")
                .attr("height", personalStatImageAttr.height)
                .attr("width", personalStatImageAttr.width)
                .attr("x", 0)
                .attr("y", 0)

            body.append("div")
                .attr("class", "header")
                .style("color", colors.black)
                .html("My MLH fellowship.")

            let username = data["github_username"]
            let pod = data["pod"]
            renderTeamCircle(body, teamData, pod, username)

            let collaborators = data["collaborators"]
            renderPersonalCollaborators(body, collaborators)

            let personalSummary = getPersonalSummary(data)
            console.log(personalSummary)
            renderDonutChart(body, personalSummary["contribution"])

            // Object.keys(personalSummary).forEach(key => {
            //     let section = personalSummary[key]
            //     renderDonutChart(body, section)
            // })

            let contributionCalendar = data["contribution_graph"]
            renderContributionOverTimeChart(body, contributionCalendar)

            renderDonutChart(body, personalSummary["repositories"])

            let repos = data["repo_changes"]
            renderRepoContributionChart(body, repos)

            renderPersonalHighlights(body, data)
        }
        loadData()
    </script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/confetti.js') }}"></script>
</body>

</html>