.subheader {
    font-family: 'Space Mono';
    font-size: 20px;
    margin: 8px 0px 8px 0px;
}

.header {
    font-family: 'Noto Sans TC';
    font-size: 32px;
    font-weight: 700;
    margin: 16px 0px 16px 0px;
}

.caption {
    font-family: 'Noto Sans TC';
    font-size: 12px;
}

.title {
    font-family: 'Noto Sans TC';
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.button {
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.legend {
    font-family: 'Raleway', sans-serif;
    fill: #333333;
}

.tooltip {
    fill: "#DADAE1";
}

.axisLabel {
    font-family: 'Noto Sans TC';
    font-size: 12px;
}